nav a {
    text-decoration: none;
    color: #ededed;
    transition: .3s;
    font-weight: 500; 
    margin-right: 37%;
}

a:hover {
    color: #00abf0;
}

.navbox {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #081b29;
    padding: 20px 5%;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    background-color: #081b29;
}